@import "../variables.modules";

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 1rem;
  margin-bottom: 2rem;
  h1 {
    font-size: 2rem;
  }
  img {
    filter: drop-shadow(1rem 1rem 1rem rgba(0,0,0,0.4));
  }
  @media only screen and (min-width: 940px) {
    grid-template-columns: repeat(2, auto);
    h1 {
      font-size: 1.7rem;
      margin-right: auto;
    }
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  

  .image {
    width: 500px;
    height: 350px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    object-fit:inherit;
  }
}



